body {
    background-image: linear-gradient(pink, rgb(71, 1, 71));
}

#sug-bar {
    height: 50px;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.carousel-control-prev {
    left: -50px;
}

.carousel-control-next {
    right: -50px;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
}

.caption-box {
    padding: 10px;
    border-radius: 5px;
}

img{
    border-color:gray;
    border: 50px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: pink;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 60px;
    background-color: white;
    height: 400px;
    max-width: 1500px;
    width: 1200px;
}

.mapa {
    display: flex;
    flex-direction: column;
    position: relative;
}

#map {
    height: 400px;
    width: 100%;
    margin-left: -12px;
    margin-bottom: 10px;
    background-color: white;
}

.eventos {
    background-color: white;
    height: 400px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    margin-left: 10px;
    width: 100%;
}

.eventos p {
    margin-top: 55px;
}

.form-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 25rem;
    height: 0.3rem;
    background-color: deeppink;
    margin: 5px auto;
    position: absolute;
    text-align: center;
    justify-content: center;
}

.form-header h1::after{
    width: 312px;
}

article .form-header h1::after{
    width: 400px;
}